
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }

  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
 
  input[type="text"],
  input[type="email"],
  select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  

  .error-message {
    color: #d9534f; 
    text-align: center;
    margin: 10px 0;
  }
  
  .is-loading {
    text-align: center;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  li:hover {
    transform: scale(1.02);
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  span {
    margin: 0 10px;
    font-weight: bold;
  }
  